[submodule "src/external/make-pl"]
	path = src/external/make-pl
	url = https://github.com/quietfanatic/make-pl.git
[submodule "src/dirt"]
	path = src/dirt
	url = https://github.com/quietfanatic/dirt.git
