# products
/tmp
/out
gmon.out
cachegrind.out.*
callgrind.out.*

# Reference
/ref
*.draft.*

# externals
/src/external/SDL2-2.0.14

# artifact of using an NTFS drive on Linux
.fuse_hidden*
