# Here is an incomplete .desktop file for liv.  You have to replace Exec with
# the place you have it installed (or just a bare command if it's in $PATH), and
# then copy it to ~/.local/share/applications

# Using %F tells the desktop environment that the program can open multiple
# files at once.

[Desktop Entry]
Type=Application
#Exec=/path/to/liv %F
Name=liv
GenericName=Image Viewer
Comment=Little Image Viewer
MimeType=inode/directory;image/avif;image/gif;image/heif;image/jpeg;image/jxl;image/png;image/bmp;image/x-eps;image/x-icns;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;image/x-tga;
